/* font import from google servers*/
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

canvas {
	margin: 10px auto;
	display:block;
	cursor: none;
}

body {
	background-color: #000000;
}

footer {
	text-align: center;
	color: #aaaaaa;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}
